.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}
